.phone-container {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 15px;
}

.phone-product {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}