.CFSlider-col3 {
    margin-top: 10px;
}

.img-slide {
    width: 100%;
    border-radius: 4px;
}

.custom-swiper {
    --swiper-pagination-color: #ff4d4f; // màu active (tuỳ chọn)
    :global(.swiper-pagination) {
        bottom: 20px !important;
    }

    :global(.swiper-pagination-bullet) {
        width: 25px !important;
        height: 6px !important;
        background-color: #0000004d;
        border-radius: 0 !important;
        opacity: 1;
        margin: 0 6px !important;
        transition: all 0.3s ease;
        border-radius: 2px;
    }

    :global(.swiper-pagination-bullet-active),
    :global(.swiper-pagination-bullet:hover) {
        background-color: var(--swiper-pagination-color);
    }
}

.CFSlider-row2 {
    display: flex;
}

.CFSlider-row2__banner img {
    object-fit: cover;
}
