.CFSlider {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}

.div2 {
    width: 317px;
    height: 159px;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 1;
}

.div3 {
    width: 317px;
    height: 159px;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 3;
}

.div4 {
    width: 317px;
    height: 159px;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 5;
}

.div13 {
    width: 317px;
    height: 159px;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div14 {
    width: 317px;
    height: 159px;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 5;
}

.div15 {
    width: 651px;
    height: 325px;
    grid-column: span 6 / span 6;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 1;
}

img {
    width: 100%;
}

.img-slide {
    width: 100%;
    border-radius: 4px;
}

.custom-swiper {
    --swiper-pagination-color: #ff4d4f; // màu active (tuỳ chọn)
    :global(.swiper-pagination) {
        bottom: 20px !important;
    }

    :global(.swiper-pagination-bullet) {
        width: 25px !important;
        height: 6px !important;
        background-color: #0000004d;
        border-radius: 0 !important;
        opacity: 1;
        margin: 0 6px !important;
        transition: all 0.3s ease;
        border-radius: 2px;
    }

    :global(.swiper-pagination-bullet-active),
    :global(.swiper-pagination-bullet:hover) {
        background-color: var(--swiper-pagination-color);
    }
}
