.navbar {
    display: flex;
    position: relative;
}

.menu-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-item {
    padding: 3px 12px 3px 6px;
    // border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #111111;

    .menu-item__wrap {
        padding: 2px 3px;
        // border-bottom: 1px solid #eee;
        cursor: pointer;
        transition: background-color 0.2s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &:hover {
        background-color: #e91c00;
        color: #fff;
        text-decoration: none;
    }
}

.menu-column h4 {
    font-size: 1.6rem;
    color: #d90000;
}

.menu-column ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        font-size: 1.4rem;
        padding: 2px 0;
        cursor: pointer;

        &:hover {
            color: #007bff;
        }
    }
}

.menu-wrapper {
    display: flex;
    position: relative;
}

.menu-bridge {
    position: absolute;
    top: 0;
    left: 315px; // đúng bằng chiều rộng .menu-sidebar
    width: 40px; // khoảng cách bạn muốn giữa sidebar và mega menu
    height: 100%;
    z-index: 50;
}

.icon-right {
    width: 8px;
    height: 8px;
}

.mega-menu {
    position: absolute;
    top: 0;
    left: 330px;
    width: 1050px;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 cột mỗi dòng
    gap: 20px;
    align-items: start;
    flex-wrap: wrap;
}

.menu-column {
    flex: 1;
    min-width: 150px;

    h4 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: #d90000;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            font-size: 1.4rem;
            margin-bottom: 6px;

            a {
                text-decoration: none;
                color: #333;

                &:hover {
                    color: #e91e63;
                }
            }
        }
    }
}

.menu-item-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px 0px 0px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.4rem;
    color: #111111;

    a {
        text-decoration: none;
        color: inherit;
        font-size: 1.4rem;

        &:hover {
            text-decoration: none;
            color: #e91c00;
        }
    }
}
