.filter-sidebar {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    .filter-group {
        margin-bottom: 20px;

        label {
            display: block;
            font-weight: 600;
            margin-bottom: 8px;
            color: #333;
            font-size: 1.6rem;
        }

        .checkbox-item {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            cursor: pointer;

            input[type='checkbox'] {
                appearance: none;
                width: 18px;
                height: 18px;
                border: 2px solid #ccc;
                border-radius: 4px;
                margin-right: 8px;
                cursor: pointer;
                position: relative;
                transition: all 0.2s ease;

                &:checked {
                    border-color: #d70018; /* đỏ GearVN */
                    background-color: #d70018;
                }

                &:checked::after {
                    content: '';
                    position: absolute;
                    left: 4px;
                    top: 0px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }

                &:hover {
                    border-color: #d70018;
                }
            }

            label {
                font-size: 14px;
                color: #555;
                cursor: pointer;
                transition: color 0.2s ease;
                margin: 0;

                &:hover {
                    color: #d70018;
                }
            }
        }

        select {
            width: 100%;
            padding: 6px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            outline: none;
            font-size: 14px;
            color: #333;
            transition: border-color 0.2s ease;

            &:hover,
            &:focus {
                border-color: #d70018;
            }
        }
    }
}

.filter-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    button {
        flex: 1;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
    }

    .reset-btn {
        background: #f2f2f2;
        border: none;
        font-size: 1.4rem;
        color: #333;
    }

    .apply-btn {
        font-size: 1.4rem;
        background: #d70018;
        color: white;
        border: none;
    }
}

.price-values {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 6px;
    color: #d70018;
    font-size: 14px;
}
