.AdminSidebar {
    // padding: 20px 0;
    // background-color: #333;
    height: 100vh;
    overflow-y: auto;
    font-size: 14px;
}

.menu-group {
    // margin-bottom: 12px;
}

.accordion-header {
    padding: 6px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    // background-color: #f3f4f6; // gray-100
    color: #374151; // gray-700
    font-weight: 600;
    transition: background 0.3s;

    &.active {
        background-color: #0073AA; // blue-700
        color: #fff;

        .custom-iconBox {
            color: #fff;
        }
    }

    &:hover {
        background-color: #0073AA; // blue-500
        color: #fff;
    }
}


.accordion-header.active {
    background-color: #0073AA;
    color: white;

    .group-title {
        color: white;
    }

    svg {
        color: white;
    }
}

.group-title {
    font-size: 14px;
    font-weight: bold;
    color: #c1c1c1;
    padding: 8px 16px;
}

.custom-iconBox {
    margin-right: 16px;
    color: #c1c1c1;
    font-size: 16px;
}

.accordion-content {
    // margin-left: 12px;
    margin-top: 6px;
}

.link {
    display: block;
    padding: 6px 10px;
    color: #c1c1c1;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 12px;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.active {
    // background-color: #0073AA;
    color: white !important;
}
