/* filepath: d:\Workspace2\MyProjects\pc_accessories\frontend\src\components\DropdownMenu\DropdownMenu.module.scss */
.dropdown-menu {
    background-color: #fff; /* Nền đen */
    // border: 1px solid #ff0000; /* Viền đỏ */
    border-radius: 5px;
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu__item {
    display: block;
    padding: 10px 20px;
    color: #111111;
    text-decoration: none;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
}

.dropdown-menu__item:hover {
    color: #fff;
    background-color: #ff0000; /* Đổi màu nền khi hover */
}

.dropdown-menu__title {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}