@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary: #fe2c55;
}

img {
    width: 100%;
}

a {
    display: inline;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

:global(.custom-quote) {
    padding: 20px;
    background: #fdefe2;
    border-left: 4px solid #f1913d;
    border-radius: 10px;
    margin: 16px 0;
}

:global(.custom-quote .quote-text) {
    font-style: italic;
    color: #d35400;
}

:global(.custom-quote .quote-author) {
    text-align: right;
    font-weight: bold;
    color: #e67e22;
    margin-top: 8px;
}
