.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.4rem;

    input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        padding: 10px;
        background-color: #d70018;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}
