
// 
:global(.megaMenu-pos) {
    position: relative;
    top: -24px;
    height: 528px;
    background: #fff;
    // display: none;
}

.megaMenu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    padding: 10px;
}
    
.megaMenu__div1 {
    grid-row: span 5 / span 5;
    padding: 5px
}

.megaMenu__div2 {
    grid-row: span 5 / span 5;
    padding: 5px
}

.megaMenu__div3 {
    grid-row: span 5 / span 5;
    padding: 5px
}

.megaMenu__div4 {
    grid-row: span 5 / span 5;
    padding: 5px
}

.megaMenu__div5 {
    grid-row: span 5 / span 5;
    padding: 5px
}
        
.customContainerFluid {
    max-width: 1320px;
    margin: 0 auto;
}

.customContainerFluid {
    padding-top: 15px;
}
