.pagination {
    display: flex;
    gap: 6px;
    margin-top: 16px;
    font-size: 1.4rem;
    flex-wrap: wrap;

    button {
        padding: 6px 10px;
        border: none;
        background-color: #eee;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.3s;

        &:hover {
            background-color: #ccc;
        }

        &.active {
            background-color: #333;
            color: #fff;
            font-weight: bold;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .dots {
        padding: 6px 10px;
        color: #888;
        user-select: none;
    }
}
